<div class="container-fluid">
  <div class="jumbotron cover">
    <%= image_tag "banner-1155437_1280.png" %>
  </div>
      <h1><%= @list.name %></h1>
      <div class="d-flex justify-content-around row">
        <% @list.movies.each do |movie| %>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= movie.poster_url %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%=movie.title%></h5>
              <p class="card-text"><%=movie.overview%></p>
              <a href="#" class="btn btn-danger">Delete</a>
            </div>
          </div>
        <% end %>
      </div>
  <%= link_to "Back to homepage", lists_path %>
  <%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
</div>
